<head>
  <title>Alex</title>
</head>

<body>
  <div class="container-fluid">
    <h1>Alex</h1>

    {{> Router}}
  </div>
</body>

<template name="home">
  <p>Welcome!</p>
  {{> loginButtons}}
</template>
