<template name="configureLoginServiceDialogForMediawiki">
  <p>
    <li>
      Set the <b>callback URL</b> to: <span class="url">{{siteUrl}}</span>  (Do not append a path to this URL.)
    </li>
    <li>
      The <b>wiki URL</b> ends in <code>index.php</code>.
    </li>
  </p>
</template>
